body {
  background-image: url('blck.png');
}

ul {
  float: right;
  list-style: none;
}

ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  font-size: 1.2rem;
}

.button {
  transition-duration: 0.4s;
  background-color: black;
  color: white;
  font-family: sans-serif;
  margin: auto;
  padding: 6px 15px;
  border-radius: 20px;
  border: 1px solid white;

}

.button:hover {
  background-color: orange;
  color: black
}

h1 {
  color: orange;
  font-family: cursive;
  text-align: center;
  border: 2px solid white;
  width: 300px;
  margin: auto;
  border-radius: 10px;
  background-color: beige;
  box-shadow: 0px 0px 10px white;
}

.feedback {
  color: white;
}

.first {
  border: 1px solid white;
  text-align: center;
  width: 500px;
  margin: auto;
  background-color: beige;
  border-radius: 10px;
}

.frst {
  padding: 8px 18px;
  border-radius: 15px;
  background-color: antiquewhite;
}

.second {
  color: white;
  text-align: center;
  border: 1px solid white;
  background-color: antiquewhite;
  width: 990px;
  margin: auto;
  border-radius: 15px;
}

.sec {
  width: 700px;
  height: 200px;
  border-radius: 10px;
}

label {
  font-size: 1.5rem;
  color: black;
}

.bttn {
  padding: 3px 5px;
  border-radius: 15px;
  font-size: 1rem;
  width: 100px;
}

